.container {
    background-color: rgb(0, 0, 0);
    width: 230px;
    height: 270px;
    padding: 5px;
}

.hesapMakinasi {}

.button-operator {
    background-color: rgb(177, 192, 201);
    color: white;
    width: 50px;
    height: 40px;
    border-style: none;
    margin: 2px;
    cursor: pointer;
}

.button {
    background-color: rgb(177, 192, 201);
    color: white;
    border-radius: 15px;
    width: 50px;
    height: 40px;
    border-style: none;
    margin: 2px;
    cursor: pointer;

}

.button:hover {
    background-color: rgb(59, 58, 53);
}

.button-operator:hover {
    background-color: rgb(59, 58, 53);
}

#inputBox {
    width: 218px;
    height: 40px;
    border-style: double;
    background-color: white;
    color: black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: right;

}